<form class="{{cssClass}} {{actor.type}}" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      <div class="resources grid grid-5col">

        <div class="resource flex-group-center">
          <label for="system.hp.value" class="resource-label">Hit Point</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.hp.value" value="{{system.hp.value}}" data-dtype="Number"/>
          <span>/</span>
          <input type="text" name="system.hp.max" value="{{system.hp.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.sp.value" class="resource-label">Spirit Point</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.sp.value" value="{{system.sp.value}}" data-dtype="Number"/>
          <span>/</span>
          <input type="text" name="system.sp.max" value="{{system.sp.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.attributes.level.value" class="resource-label">Level</label>
          <div class="resource-content flexrow flex-center flex-between">
            <select name="system.attributes.level.value"  data-type="Number">
              {{#select system.attributes.level.value}}
              <option value= 1 selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="10">11</option>
              <option value="10">12</option>
              <option value="10">13</option>
              <option value="10">14</option>
              <option value="10">15</option>
              {{/select}}
            </select>
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.attributes.armor" class="resource-label">Armor</label>
          <input type="text" name="system.attributes.armor" value="{{system.attributes.armor}}" data-dtype="Number"/>
        </div>
        <div class="resource flex-group-center">
            <label for="system.attributes.willpower" class="resource-label">Willpower</label>
            <input type="text" name="system.attributes.willpower" value="{{system.attributes.willpower}}" data-dtype="Number">
        </div>
      </div>
    </div>
  </header>
  <section class="sub-header">
    <div class="playbook grid grid-3col">
      <div class="resource flex-group-center">
        <label for="system.attributes.playbook.arcana" class="resource-label">Arcana</label>
        <select name="system.attributes.playbook.arcana"  data-type="String">
          {{#select system.attributes.playbook.arcana}}
          <option value="" selected></option>
          <option value="Fool">0 - Fool</option>
          <option value="Magician">I - Magician</option>
          <option value="Priestess">II - Priestess</option>
          <option value="Empress">III - Empress</option>
          <option value="Emperor">IV - Emperor</option>
          <option value="Hierophant">V - Hierophant</option>
          <option value="Lovers">VI - Lovers</option>
          <option value="Chariot">VII - Chariot</option>
          <option value="Strength">VIII - Strength</option>
          <option value="Hermit">IX - Hermit</option>
          <option value="Fortune">X - Fortune</option>
          <option value="Justice">XI - Justice</option>
          <option value="Hanged">XII - Hanged</option>
          <option value="Death">XIII - Death</option>
          <option value="Temperance">XIV - Temperance</option>
          <option value="Devil">XV - Devil</option>
          <option value="Tower">XVI - Tower</option>
          <option value="Star">XVII - Star</option>
          <option value="Moon">XVIII - Moon</option>
          <option value="Sun">XIX - Sun</option>
          <option value="Judgment">XX - Judgment</option>
          {{/select}}
        </select>
      </div>
      <div class="resource flex-group-center">
        <label for="system.attributes.playbook.suit" class="resource-label">Suit</label>
        <select name="system.playbook.suit"  data-type="String">
          {{#select system.playbook.suit}}
          <option value="" selected></option> 
          <option value="Wands">Wands</option> 
          <option value="Cups">Cups</option> 
          <option value="Coins">Coins</option> 
          <option value="Swords">Swords</option> 
          <option value="Compass">Compass</option> 
          <option value="Aeon">Aeon</option> 
          {{/select}}
        </select>
     </div>
      <div class="resource flex-group-center">
        <label for="system.attributes.wildcard" class="resource-label">Wildcards</label>
        <div class="resource  flex-group-center">
          <input type="checkbox" name="system.attributes.wc_cb0" value="wc_cb0" {{checked system.attributes.wc_cb0}}/>
          <input type="checkbox" name="system.attributes.wc_cb1" value="wc_cb1" {{checked system.attributes.wc_cb1}}/>
          <input type="checkbox" name="system.attributes.wc_cb2" value="wc_cb2" {{checked system.attributes.wc_cb2}}/>
          {{#if (eq system.attributes.playbook.arcana "Fortune")}}
          <input type="checkbox" name="system.attributes.wc_cb3" value="wc_cb3" {{checked system.attributes.wc_cb3}}/>
          <input type="checkbox" name="system.attributes.wc_cb4" value="wc_cb4" {{checked system.attributes.wc_cb4}}/>
          {{/if}}
        </div>
      </div>
    </div>
    <h3>Abilities</h3>
    <div class="abilities grid grid-5col">
      {{#each system.abilities as |ability key|}}
      <div class="ability flex-group-center">
        <label for="system.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="2d6+@abilities.{{key}}.mod" data-label="{{ability.label}}">{{ability.label}}</label>
        <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
      </div>
      {{/each}}
    </div>
    <h3>Affinity</h3>
    <div class="affinities grid grid-5col">
      {{#each system.affinities as |affinities key|}}
      <div class="ability flex-group-center">
        <label for="system.affinities.{{key}}" class="resource-label rollable flexlarge align-left">{{key}}</label>
        <select id="affinities-selector" data-type="String">
        {{#select affinities-selector}}
          <option value=""> </option>
          <option value="major">Major Affinity</option>
          <option value="minor">Minor Affinity</option>
          <option value="weak">Weakness</option>
          {{/select}}
        </select> 
      </div>
      {{/each}}
    </div>
  </section>
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="moves">Moves</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="slink">Social Links</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Moves Tab --}}
    <div class="tab moves" data-group="primary" data-tab="moves">
        <section class="main grid-span-2">
          {{> "systems/pttrpg/templates/actor/parts/actor-moves.html"}}
        </section>

    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/pttrpg/templates/actor/parts/actor-items.html"}}
    </div>
    {{!-- Owned slink Tab --}}
    <div class="tab slink" data-group="primary" data-tab="slink">
        {{> "systems/pttrpg/templates/actor/parts/actor-slink.html"}}
    </div>
  </section>
</form>

