<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="grid grid-4col">
        <div class="resource">
          <label class="resource-label">Quantity</label>
          <input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">Weight</label>
          <input type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">Cost</label>
          <input type="text" name="system.cost" value="{{system.cost}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">Type</label>
          <select name="system.type"  data-type="Number">
            {{#select system.type}}
            <option value="" selected></option>
            <option value="HP Items">HP Items</option>
            <option value="SP Items">SP Items</option>
            <option value="Revival Items">Revival Items</option>
            <option value="Ailment Items">Ailment Items</option>
            <option value="Weird HP Items">Weird HP Items</option>
            <option value="Food Items">Food Items</option>
            <option value="Special Food HP Items">Special Food Items</option>
            <option value="Lifestyle Items">Lifestyle Items</option>
            <option value="Support Items">Support Items</option>
            <option value="Defensive Items">Defensive Items</option>
            <option value="Offensive Items">Offensive Items</option>
            <option value="Armor">Armor</option>
            <option value="Weapon">Weapon</option>
            {{/select}}
          </select>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="resource">
      <label class="resource-label">Effect</label>
      <textarea name="system.description" value="{{system.description}}" cols="30" rows="5">{{system.description}}</textarea>
    </div>
  </section>
</form>
